:root {
    /* --color-primary: #001829;
    --color-secondary: #EBE4E3;
    --color-tertiary: #F5B83D;
    --color-quaternary: #227C9D;
    --color-quinary: #D62828; */

    --color-primary: #f8f8f8;
    --color-secondary: #001829;
    --color-secondary-op: #0018299e;
    --color-tertiary: #50c4c9;
    --color-quaternary: #7a76f0;
    --color-quinary: #f4695d;
    --color-sixth: #f5b83d;
}

/* FONT */
:root {
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Karla", sans-serif;
}

/* FONT APPLICATI */
* {
    font-family: var(--font-secondary);
}
.text-title {
    font-family: var(--font-primary);
}

body {
    margin-top: 3rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

/* COLORI BACKGROUND */
.bg-1 {
    background-color: var(--color-primary);
}
.bg-2 {
    background-color: var(--color-secondary);
}
.bg-3 {
    background-color: var(--color-tertiary);
}
.bg-4 {
    background-color: var(--color-quaternary);
}
.bg-5 {
    background-color: var(--color-quinary);
}
.bg-6 {
    background-color: #f5b83d;
}

/* COLORI TESTI */
.text-color-1 {
    color: var(--color-primary);
}
.text-color-2 {
    color: var(--color-secondary);
}
.text-color-3 {
    color: var(--color-tertiary);
}
.text-color-4 {
    color: var(--color-quaternary);
}
.text-color-5 {
    color: var(--color-quinary);
}

.transition {
    transition: all 0.3s ease-in-out;
}

.transition2 {
    transition: all 0.5s ease-in-out;
}

/* NAVBAR */
.nav-scrolled {
    backdrop-filter: blur(7px);
    background-color: var(--color-secondary-op);
}

.logo {
    max-width: 120px;
}

.logo:hover {
    transform: scale(1.1);
}

.logout-link:hover {
    background-color: inherit;
<<<<<<< HEAD
    color: inherit;
  } 


=======
    color: var(--color-secondary);
    border-radius: 5px;
}
>>>>>>> 74bb424be9542161a9281377319a46757cecdd52

.btn-search {
    color: var(--color-quinary);
    border-color: var(--color-quinary);
}

.btn-search:hover {
    background-color: var(--color-quinary);
    color: var(--color-secondary);
}

.active {
    color: var(--color-quinary) !important;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--color-quinary) !important;
}

.dropdown-toggle {
    color: var(--color-primary) !important;
}

.dropdown-toggle.show {
    color: var(--color-quinary) !important;
}

.dropdown-item-category:hover {
    background-color: var(--color-secondary) !important;
    color: var(--color-quinary) !important;
}


.border-custom {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.border-custom2 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* HOMEPAGE */
.header-custom {
    margin-top: 35vh;
    margin-bottom: 20vh;
}

.img-header {
    width: 30vw;
}

.btn-custom {
    color: var(--color-quinary);
    border-color: var(--color-quinary);
}

.btn-custom:hover {
    background-color: var(--color-quinary);
    color: var(--color-primary);
}

/* CARDS */
.card-container {
    width: 18rem;
}
.img-card {
    width: 100%;
    border-radius: 7px 7px 0px 0px;
}

.btn-category:hover {
    background-color: var(--color-tertiary);
}



<<<<<<< HEAD
.dropdown-toggle.show {
    color: var(--color-quinary) !important;
}

.dropdown-item:hover {
    background-color: var(--color-secondary) !important;
    color: var(--color-quinary) !important;
}

.border-custom {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.border-custom2 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

=======
>>>>>>> 74bb424be9542161a9281377319a46757cecdd52
