:root {
    /* --color-primary: #001829;
    --color-secondary: #EBE4E3;
    --color-tertiary: #F5B83D;
    --color-quaternary: #227C9D;
    --color-quinary: #D62828; */
    
    --color-primary: rgb(248, 248, 248);
    --color-primary-op: rgba(248, 248, 248, 0.5);
    --color-secondary: #001829;
    --color-secondary-op: #0018299e;
    --color-secondary-op2: #00182907;
    --color-tertiary: #50c4c9;
    --color-quaternary: #bd89ad;
    --color-quinary: rgb(244, 105, 93);
    --color-quinary-op2: rgba(244, 106, 93, 0.2);
    --color-quinary-op: rgba(244, 106, 93, 0.341);
    /* --color-sixth: #f5b83d; */
    --color-sixth: #9cdced;
}

/* FONT */
:root {
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Karla", sans-serif;
    --font-primary1:"Genos", sans-serif;
    --font-primary2:"Ubuntu Sans Mono", monospace;
    --font-primary3:"Sono", monospace;
    --font-primary4:"Source Code Pro", monospace;
}

/* FONT APPLICATI */
* {
    font-family: var(--font-secondary);
}
.text-title {
    /* font-family: var(--font-primary); */
    font-family: var(--font-primary1);
}

.text-gradient-title {
    background: linear-gradient(90deg, var(--color-quinary),var(--color-quinary-op));
    /* background: linear-gradient(90deg, var(--color-secondary),var(--color-tertiary)); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    margin-top: 3rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    /* overflow-x: hidden; */
}

/* COLORI BACKGROUND */
.bg-1 {
    background-color: var(--color-primary);
}
.bg-2 {
    background-color: var(--color-secondary);
}
.bg-2-op {
    background-color: var(--color-secondary-op);
}
.bg-3 {
    background-color: var(--color-tertiary);
}
.bg-4 {
    background-color: var(--color-quaternary);
}
.bg-5 {
    background-color: var(--color-quinary);
}
/* .bg-6 {
background-color: #f5b83d;
} */

.bg-6 {
    background-color: var(--color-sixth);
}

/* COLORI TESTI */
.text-color-1 {
    color: var(--color-primary);
}
.text-color-2 {
    color: var(--color-secondary);
}
.text-color-3 {
    color: var(--color-tertiary);
}
.text-color-4 {
    color: var(--color-quaternary);
}
.text-color-5 {
    color: var(--color-quinary);
}

.transition {
    transition: all 0.3s ease-in-out;
}

.transition2 {
    transition: all 0.5s ease-in-out;
}

/* NAVBAR */
.nav-scrolled {
    backdrop-filter: blur(7px);
    background-color: var(--color-secondary-op);
}

.logo {
    max-width: 120px;
}

.logo:hover {
    transform: scale(1.1);
}

.logout-link:hover {
    background-color: inherit;
    color: var(--color-secondary);
    border-radius: 5px;
}

.btn-search {
    color: var(--color-quinary);
    border-color: var(--color-quinary);
}

.btn-search:hover {
    background-color: var(--color-quinary);
    color: var(--color-secondary);
}

.active {
    color: var(--color-quinary) !important;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--color-quinary) !important;
}

.dropdown-toggle {
    color: var(--color-primary) !important;
}

.dropdown-toggle.show {
    color: var(--color-quinary) !important;
}

.dropdown-item-category:hover {
    background-color: inherit;
    color: var(--color-quinary) !important;
}
.dropdown-item-language:hover {
    color: var(--color-quinary) !important;
}

.border-custom {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.border-custom2 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

@keyframes vibrateWithPause {
    0%,
    20% {
        transform: translateX(0);
    } /* Stato iniziale e pausa */
    30% {
        transform: translateX(-2px);
    }
    40% {
        transform: translateX(2px);
    }
    50% {
        transform: translateX(-2px);
    }
    60% {
        transform: translateX(2px);
    }
    70%,
    100% {
        transform: translateX(0);
    } /* Ritorna in posizione e pausa */
}

.vibrate {
    display: inline-block;
    animation: vibrateWithPause 0.8s infinite;
    color: var(--color-tertiary);
    font-weight: bold;
}

.mt-custom {
    margin-top: 9px !important;
    right: -12px !important;
    border-radius: 0 0 7px 7px;
}

.m-custom2 {
    margin-top: 8px !important;
    left: -8px !important;
    border-radius: 0 0 7px 7px;
}

.navbar-toggler {
    border: 2px solid var(--color-primary);
}

.navbar-toggler-icon {
    filter: invert(100%);
}

.notifica {
    scale: 0.8;
    top: -4px;
    right: -22px;
}
/* HOMEPAGE */

/* .bg-image {
background: linear-gradient(rgb(248, 248, 248, 0.2), rgb(248, 248, 248, 0.5), rgb(248, 248, 248, 1.0)), url('/storage/app/public/media/Carrello_spesa.png');

background-size: cover;
} */
.bg-image {
    background: linear-gradient(
    rgb(248, 248, 248, 0.2),
    rgb(248, 248, 248, 0.5),
    rgb(248, 248, 248)
    ),
    url("/storage/app/public/media/bg-home.png");
    background-size: cover;
    background-position: bottom;
}
/* .bg-image {
background: linear-gradient(rgb(248, 248, 248, 0.2), rgb(248, 248, 248, 0.5), rgb(248, 248, 248, 1.0)), url('/storage/app/public/media/carrello_home_3.jpeg');
background-size: cover;
} */

/* .bg-image {
background: linear-gradient(rgb(248, 248, 248, 0.1), rgb(248, 248, 248, 0.1), rgb(248, 248, 248, 0.1)), url('/storage/app/public/media/carrello_home_4.jpeg');
background-size: cover;
} */

.img-header {
    width: 30vw;
}

.btn-custom {
    color: var(--color-quinary);
    border-color: var(--color-quinary);
}

.btn-custom:hover {
    background-color: var(--color-quinary);
    color: var(--color-primary);
}

/* CAROSELLO */
.carosello {
    height: 40vh;
    border-radius: 10px;
}
.carosello1 {
    background: url("/storage/app/public/media/sfondo1.webp");
    height: 100%;
    background-position: bottom;
}

.carosello2 {
    background: url("/storage/app/public/media/sfondo2.webp");
    height: 100%;
    background-position: bottom;
}

.carosello3 {
    background: url("/storage/app/public/media/sfondo3.webp");
    height: 100%;
    background-position: bottom;
}

.carosello-text {
    position: absolute;
    color: var(--color-secondary);
    top: 20px;
    left: 0px;
}

/* WHY ADVIBE */
.text-gradient {
    background: linear-gradient(90deg, var(--color-quinary),var(--color-quinary-op));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-custom-why-advibe {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background: var(--color-primary);
    min-width: 15rem;
    min-height: 13rem;
    padding: 1rem 1rem 0 1rem;
}

.card-custom-why-advibe:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

.icon-box {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: white;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
}

.img-triangolo {
    width: 3.2rem;
    padding-bottom: 0.8rem;
    padding-right: 0.5rem;
}

/* STATISTICHE */
.stat-box {
    background: var(--color-primary);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 15px;
    width: 14rem;
    height: 10rem;
}

.stat-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

.stat-icon {
    font-size: 50px;
    color: #ff8a00;
    margin-bottom: 10px;
}

/* CARDS */
.card-container {
    width: 18rem;
    background: linear-gradient(180deg, var(--color-secondary-op2), rgba(248, 248, 248, 0.5));
    backdrop-filter: blur(10px);
}

/* .card-gradient{
    border-radius: 12px;
    background: linear-gradient(180deg, var(--color-secondary-op2), rgba(248, 248, 248, 0.5));;
} */

.img-card {
    width: 100%;
    border-radius: 7px 7px 0px 0px;
    height: 300px;
    image-rendering: optimizeQuality;
    object-fit: cover;
}
.btn-category{
    background-color: inherit;
}
.btn-category:hover {
    background-color: var(--color-tertiary);
}

/* revisore */
.btn-custom-accept {
    color: var(--color-primary);
    background-color: var(--color-tertiary);
}

.btn-custom-accept:hover {
    background-color: inherit;
    color: var(--color-tertiary);
    border-color: var(--color-tertiary);
}

.btn-custom-reject {
    color: var(--color-primary);
    background-color: var(--color-quinary);
}

.btn-custom-reject:hover {
    background-color: inherit;
    color: var(--color-quinary);
    border-color: var(--color-quinary);
}

.img-fluid-revisor {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.img-fluid-revisor:hover {
    transform: scale(1.05);
}

.list-group-item {
    font-size: 1.1rem;
}

.badge {
    font-size: 0.9rem;
    padding: 6px 12px;
}

.text-revisor {
    position: sticky;
    top: 100px;
    max-height: calc(100vh - 120px); /* Evita che il contenuto sfori */
    overflow-y: auto;
}

/* Insert Ad */
.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
}

.border-preview-custom {
    border: 2px solid var(--color-tertiary);
}

/* FOOTER */

.logo-footer {
    max-width: 170px;
    margin-bottom: 6px;
}

.btn-footer {
    background-color: var(--color-quinary);
    color: var(--color-primary);
}
.btn-footer:hover {
    background-color: var(--color-secondary);
    color: var(--color-quinary);
    border-color: var(--color-quinary);
}

.logo-social:hover {
    color: var(--color-primary);
    scale: 1.1;
}

/* Modale */
.modal-content {
    background-color: var(--color-primary); /* Sfondo rosso chiaro */
    border-radius: 10px;
}

.modal-header {
    background-color: var(--color-secondary) !important;
    color: white;
    border-radius: 6px 6px 0px 0px;
}

.modal-footer .btn-danger {
    background-color: var(--color-secondary);
}

.btn-close-modal {
    filter: invert(1); /* Cambia il colore della "X" */
}

/* Form di registrazione */

.bg-page-form {
    background: linear-gradient(
    rgb(248, 248, 248, 0.2),
    rgb(248, 248, 248, 0.5),
    rgb(248, 248, 248, 1)
    ),
    url("/storage/app/public/media/sfondo1.webp");
    /* url('/storage/app/public/media/sfondo2.webp'); */
    /* url('/storage/app/public/media/sfondo3.webp'); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: bottom;
    /* background-attachment: fixed; */
}

.bg-form {
    background: rgb(248, 248, 248, 0.8);
}

/* PAGINATOR */
.pagination {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    gap: 10px;
}

.pagination .page-item .page-link {
    color: var(--color-quinary);
    background: var(--color-primary);
    border: 1px solid var(--color-quinary);
    width: 30px;
    height: 40px;
    font-weight: bold;
    border-radius: 9px;
    backdrop-filter: blur(8px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    justify-content: center;
    display: flex;
}

.pagination .page-item .page-link:hover {
    background: var(--color-quinary);
    color: var(--color-primary);
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(255, 255, 255, 0.2);
}

.pagination .page-item.active .page-link {
    background: var(--color-quinary);
    color: var(--color-primary);
    border-color: var(--color-quinary);
    /* box-shadow: 4px 4px 6px rgba(244, 106, 93, 0.698); */
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.pagination .page-item.disabled .page-link {
    color: var(--color-quinary);
    border-color: var(--color-quinary);
    background-color: var(--color-primary-unactive);
    opacity: 0.5;
    box-shadow: none;
    cursor: not-allowed;
}

.pagination .page-item {
    animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* DETTAGLIO */

.img-show {
    position: sticky;
    top: 100px;
}

.bi-arrow-left-circle {
    position: absolute;
    left: -10%;
}

.bi-arrow-left-circle:hover {
    color: var(--color-tertiary);
}

.border-custom {
    border: 1px solid var(--color-secondary);
    /* background-color: var(--color-secondary-op2);
    backdrop-filter: blur(8px); */
}

.text-title-show {
    width: 100%; /* specifica la larghezza massima */
    word-wrap: break-word;
}

.wish-list-icon{
    position: absolute;
    right: 10px;
    margin-top: 6px;
}

.bi-heart{
    color: var(--color-quinary);
}